@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
body {
    font-size: 1em;
    padding: 0;
    margin: 0;
}


/*PARTE 1 - Linda Eliasen*/

.container1 {
    background-color: rgba(238, 223, 206, 255);
    padding-bottom: 10%;
}

#title {
    font-size: 6em;
    color: rgb(231, 72, 27);
    font-family: 'Prata', serif;
}

#logo {
    width: 100px;
}


/*PARTE 2 - Hello*/

.container2 {
    background-color: rgba(238, 231, 221, 255);
    padding-bottom: 10%;
}

#photo {
    width: 250px;
    margin-top: -100px;
}

#turtle {
    width: 65px;
}

#container-turtle {
    margin-top: 9%;
}

.titlesm {
    font-size: 3em;
    color: rgb(231, 72, 27);
    font-family: 'Prata', serif;
    margin: 15% 0 0 15%;
    width: 50%;
}

.text {
    font-size: 1.1em;
    margin: 5% 0 0 15%;
}


/*PARTE 3 - Menu e Imagens*/

.container3 {
    background-color: rgba(238, 231, 221, 255);
}

.btn>img {
    width: 200px;
}

.btn {
    margin: 0.5% 0;
    padding: 5%;
    border-radius: 45px;
    margin-left: 25px;
}

#selected {
    background-color: #F2F2F2;
}

.menu {
    height: 100%;
}

#pg {
    margin-top: -10%;
}

#global {
    width: 150px;
}

#penguin {
    width: 280px;
}

#blue {
    width: 350px;
}

#bird {
    width: 400px;
}

#chat {
    width: 230px;
}

.stxt {
    color: rgb(231, 72, 27);
    font-size: 1.5em;
}


/*PARTE 4 - Things I do*/

.container4 {
    background-color: rgba(238, 223, 206, 255);
    padding-bottom: 10%;
}

#tid {
    margin-left: 25%;
}

#shine {
    width: 85px;
    margin-top: 180%;
    margin-left: 15px;
}

#panda {
    width: 65px;
    margin-top: 45%;
    margin-left: 50%;
}


/*PARTE 5 - What I'm up to*/

.container5 {
    background-color: rgba(238, 231, 221, 255);
}

#wiut {
    margin-left: 1px;
}

#linda {
    width: 300px;
    margin: -75px;
    margin-left: 5px;
}

.subtitle {
    color: rgba(110, 141, 184, 255);
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 5% 0 0 15%;
}

.txt {
    margin: 1% 0 0 15%;
}

#highlight {
    font-weight: bold;
    color: rgb(231, 72, 27);
}


/*PARTE 6 - navbar*/

.container6 {
    background-color: rgba(238, 231, 221, 255);
}

#footer {
    color: rgba(110, 141, 184, 255);
    text-transform: uppercase;
}

#footer>div:hover {
    cursor: pointer;
    font-weight: bold;
}